* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(/img/bg.jpg);
}

form {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.416);
    text-align: center;
    padding: 120px 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 20px; 
}

form .title {
    color: #532800;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label .fa-solid {
    font-size: 25px;
    color: #080808;
    margin-right: 10px;
    
}

form label input {
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #cc2565;
    padding: 0 8px;
    font-size: 18px;
    border-radius: 20px;
}

form label input::placeholder {
    color: rgba(37, 37, 37, 0.5);
}


form .link {
    color: #1a1818;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}

form button {
    color: rgb(255, 255, 255);
    border: none;
    background: rgb(75, 174, 0);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
}